/** {*/
    /*font-family:"glyphicons-halflings-regular.eot","glyphicons-halflings-regular", "glyphicons-halflings-regular.woff"! important;*/
/*}*/
        body{
            overflow:Scroll;
            overflow-x:hidden;
        }
        p{
            color: white;
        }
        #all{
            position: fixed;
            /*width: 1366px;*/
            /*height: 768px;*/
            width: 100vw;
            height: 130vh;
            background-repeat:no-repeat;
            background-attachment:fixed;
            z-index:-1;
        }
        .jumbotron{
            background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#836FFF), to(#f0dad2));
            opacity: 0.5;
        }
        .item{
            height: 300px;
            background: darkcyan;
            text-align: center;
            padding-top: 40px;
        }
        .title{
            text-align: center;
        }
        .title h1{
            font-size: 30px;
        }
        .skill_info{
            width: 20vw;
            margin: 3px auto;
            padding: 5px 0;
            border-top: 2px solid #f00
        }
        .item img{
            margin: 0 auto;
        }
        .item p{
            font-size: 20px;
            padding: 50px;
        }
        .ex {
            width: 200px;
            height: 200px;
            float: left;
            margin: 13px;
            font: 100 18px/200px arial, helvetica, sans-serif;
            text-align: center;
            position: relative;
            transform-style: preserve-3d;
            perspective: 800px;
            visibility: visible;
        }
        .ex div {
            pointer-events: none;
            z-index: 999;
            width: 200px;
            height: 200px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .slide-in-left div {
            opacity: 0;
            transform: translate3d(-200px, 0, 0);
            transition: all 0.3s ease-in-out;
        }
        .slide-in-left:hover div {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        .slide-in-right div {
            opacity: 0;
            transform: translate3d(200px, 0, 0);
            transition: all 0.3s ease-in-out;
        }
        .slide-in-right:hover div {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        .super-scaled div {
            opacity: 0;
            transform: scale(2);
            transition: all 0.3s ease-in-out;
        }
        .super-scaled:hover div {
            opacity: 1;
            transform: scale(1);
        }
        .slide-in-top div {
            opacity: 0;
            transform: translate3d(0, -200px, 0);
            transition: all 0.3s ease-in-out;
        }
        .slide-in-top:hover div {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        .rotate-right div {
            opacity: 0;
            transform: translate3d(200px, 0, 100px) rotateY(-70deg);
            transition: all 0.3s ease-in-out;
        }
        .rotate-right:hover div {
            opacity: 1;
            transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg);
        }
         .footer1{
             margin-bottom: -20px;
             margin-left: 30%;
         }
         #zhihu a{
             text-decoration:none;
             font-weight: bold;
         }
         #btnmodal{
             margin-bottom: 5vh;
             margin-left: 27vw;
         }
         .modal-body p{
             color: #080808;
         }
         #navb{
             margin-top: 40vh;
         }
         .btnresume{
             position: absolute;
             margin-left: 48vw;
             z-index: 1000;
         }
